@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 12px;
  height: 3px;
  background: transparent;      /* фон полностью прозрачный */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(125, 125, 125, 0.5); /* 0.5 = 50% прозрачности */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(154, 154, 154, 0.6);
}

html, body, #root {
  height: 100%; /* родитель ограничен */
}

.scroll-overlay {
  /* Chromium / Safari: рисует полосу поверх контента */
  overflow-y: overlay;
  scrollbar-gutter: stable overlay;
}